<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	<body>
		<h1>Please enter your details</h1>
		<form action="http://localhost:3000/users/local-login" method="post">
			<label for="fullname">User Name</label><br>
			<input type="text" name="username" id="username"><br>
			<label for="fullname">Password</label><br>
			<input type="password" name="password" id="password"><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
